* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans, sans-serif;
    
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0;
}

.logo {
    padding: 20px 0;

}
/* .logo img{
    width: 130px;

} */

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #252425;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

nav ul li a:hover , .active {
    color: #FF5722;
}

.btns {
    display: flex;
    align-items: center;
}

.en-btn{
    padding: 20px 20px;
    border-left: solid 1px #DADADA ;
}
.en-btn a {
    color: #252425;
    text-decoration: none;
    font-weight: 700;
}
.contact-btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.contact-btn {
    padding: 30px 20px;
    background: linear-gradient(to right, #FF5722, #FF9800);
    margin: 0;
}

/* section 2 */

.profile-section{
    background: linear-gradient(to right ,#6D6C6D,
        #242425);
    /* background-image: url(img/bg-sec2.png); */
    /* overlay: url('img/bg-sec2.png'); */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.breadcrumb-section {
    /* border-bottom: solid 1px #A3A3A3; */
    /* padding: 20px; */
    align-content: center;
    /* gap: 20px; */
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile-section .bg-sec2{
    position: absolute;
        top: 10%;
        left: 50%;
        width: 50%;
        height: 100%;
        object-fit: cover;
}

.breadcrumb-section span {
    color: #fff;
    font-size: 14px;
    letter-spacing: 4px;
}
.breadcrumb-section .highlight{
    color: #FF6000;
}


.content-wrapper {
    display: flex;
    align-items: flex-start;
    padding: 60px 0px;
    gap: 40px;
    z-index: 10;
    max-width: 1200px;
}


.profile-image {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



.profile-details h1 {
    font-size: 2rem;
    font-weight: 700;
    /* margin-bottom: 5px; */
    color: #fff;
}

.profile-details .job-title {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 200;
}

.profile-details .orange-line {
    width: 40px;
    height: 4px;
    background-color: #ff8c00;
    margin-bottom: 20px;
}

.profile-details .bio {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #ddd;
    max-width: 70%;
}

.profile-details .bio strong {
    color: #fff;
    font-weight: 700;
}
hr {
    border: none;
    border-top: 1px solid #A3A3A3;

}


.blogs{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    padding: 20px;
}
.blog-card{
    border: solid 1px #DADADA;
    width: 30%;

}
.blog-card .blog-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.blog-card .img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.blog-card .img img::before{
    content: 'Blockchain';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #EDF0F3;
}
.author-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.author-profile img{
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    object-fit: cover;
}
.author-profile h6{
    font-size: 18px;
    font-weight: 400;
}


.date {
    display: flex;
    align-items: center;
    
    color: #555;
    font-size: 14px;
}

.date p {
    margin-right: 10px;
}

.date img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.read-more {
    color: #333;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: color 0.3s ease;
}
.read-more-container{
    display: flex;
    justify-content: flex-end;
}

.read-more:hover {
    color: #FF5722;
}

.read-more span {
    font-weight: normal;
    color: #FF5722;
}
